.red-text {
    color: red; /* Красный цвет текста */
}

.green-text {
    color: green; /* Зелёный цвет текста */
}

.italic-text {
    font-style: italic; /* Курсивный стиль */
}

.bold-text {
    font-weight: bold; /* Полужирный текст */
}

ul, ol {
    margin: 20px 0; /* Отступы для списков */
    padding-left: 20px; /* Отступ слева */
}

/* Стили для определенных элементов списка */
ul li {
    color: green; /* Зелёный цвет для элементов списка */
}

ol li:nth-child(1) {
    color: red; /* Красный цвет для первого элемента подсписка */
}

ol li:nth-child(2) {
    color: blue; /* Синий цвет для второго элемента подсписка */
}