h1 {
    font-size: 36px; /* Размер шрифта для h1 */
    color: #333; /* Цвет текста для h1 */
    margin-bottom: 10px; /* Отступ снизу */
}

h2 {
    font-size: 28px; /* Размер шрифта для h2 */
    color: #444; /* Цвет текста для h2 */
    margin-bottom: 8px; /* Отступ снизу */
}

h3 {
    font-size: 20px; /* Размер шрифта для h3 */
    color: #555; /* Цвет текста для h3 */
    margin-bottom: 6px; /* Отступ снизу */
}

/* Стили для упорядоченного списка */
ol {
    padding-left: 20px; /* Отступ слева */
    margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для пунктов списка */
li {
    font-size: 16px; /* Размер шрифта для пунктов списка */
    color: #666; /* Цвет текста для пунктов списка */
    margin: 4px 0; /* Отступы между пунктами списка */
}

/* Стили для абзацев */
p {
    font-size: 16px; /* Размер шрифта для абзацев */
    color: #333; /* Цвет текста для абзацев */
    margin-bottom: 10px; /* Отступ снизу */
}

/* Полужирный текст */
strong {
    font-weight: bold; /* Полужирный текст */
    color: #e74c3c; /* Цвет для полужирного текста */
}

/* Курсивный текст */
em {
    font-style: italic; /* Курсивный текст */
    color: #2980b9; /* Цвет для курсивного текста */
}