/* Красный текст */
.red-text {
    color: red; /* Красный цвет текста */
}

/* Полужирный текст */
.bold-text {
    font-weight: bold; /* Полужирный текст */
}

/* Стили для упорядоченного и неупорядоченного списков */
ul, ol {
    margin: 20px 0; /* Отступы для списков */
    padding-left: 20px; /* Отступ слева */
}

/* Стили для элементов списка с разными цветами */
ul li:nth-child(1) {
    color: blue; /* Цвет для первого элемента списка */
}
ul li:nth-child(2) {
    color: green; /* Цвет для второго элемента списка */
}
ul li:nth-child(3) {
    color: orange; /* Цвет для третьего элемента списка */
}
ol li:nth-child(1) {
    color: purple; /* Цвет для первого элемента подсписка */
}
ol li:nth-child(2) {
    color: brown; /* Цвет для второго элемента подсписка */
}

/* Стили для абзаца с текстами разного размера */
p {
    margin: 10px 0; /* Отступы для абзаца */
}

/* Размеры разных слов */
p span {
    display: inline-block;
}

.size1 {
    font-size: 12px; /* Размер 1 */
}

.size2 {
    font-size: 16px; /* Размер 2 */
}

.size3 {
    font-size: 20px; /* Размер 3 */
}

.size4 {
    font-size: 24px; /* Размер 4 */
}